<%= form_with model: task do |form| %>
  <% if task.errors.any? %>
    <div class="form-errors">
      <p>入力内容を確認してください。</p>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description, "詳細" %>
    <%= form.text_area :description, rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit task.persisted? ? "更新" : "追加" %>
    <% if task.persisted? %>
      <%= link_to "キャンセル", task_path(task), data: { turbo_frame: dom_id(task) }, class: "link" %>
    <% end %>
  </div>
<% end %>
