<h1>this is show</h1>
<a href="/articles">/articles <a>
<h1>   <%= @article.title%> </h1>
<p>   <%= @article.body%> </p>
<ul>
  <li>
<%= link_to "edit" , edit_article_path(@article) %>
  </li>
  <li>
    <%= link_to "delete" , article_path(@article) , data: {
      turbo_method: :delete ,
      turbo_confirm: "are yo sure? "
    } %>
  </li>
</ul>


<h2>Comments</h2>
<ul>
<% @article.comments.each do |comment| %>
  <li>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </li
<% end %>
</ul>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

