<p style="color: green"><%= notice %></p>

<%= render @organization_membership %>

<div>
  <%= link_to "Edit this organization membership", edit_organization_membership_path(@organization_membership) %> |
  <%= link_to "Back to organization memberships", organization_memberships_path %>

  <%= button_to "Destroy this organization membership", @organization_membership, method: :delete %>
</div>
